<% include partials/header %>

<link rel="stylesheet" href="app.css">

<h1>The Posts Page</h1>

<% for(var i = 0; i < postings.length; i++){ %>
    <li><%= postings[i].title %> - <%= postings[i].author %></li>
<% } %>

<% include partials/footer %>